<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>994320640204-79u404tr544vlutd0dg1dd7mngmv6uut.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.994320640204-79u404tr544vlutd0dg1dd7mngmv6uut</string>
	<key>API_KEY</key>
	<string>AIzaSyD9EdbN770b65Mz6ejqe1o9R6MA3iYIz74</string>
	<key>GCM_SENDER_ID</key>
	<string>994320640204</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.michalmoravik.Adventuro</string>
	<key>PROJECT_ID</key>
	<string>adventuro-b9b52</string>
	<key>STORAGE_BUCKET</key>
	<string>adventuro-b9b52.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:994320640204:ios:860019a350e86660</string>
	<key>DATABASE_URL</key>
	<string>https://adventuro-b9b52.firebaseio.com</string>
</dict>
</plist>